<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/all.css">
    <link rel="stylesheet" type="text/css" href="/static/css/contact.css">
</head>
<body>
<div>
    <div class="top">
        <div class="top_left">
<!--            <img width="70px" height="70px" src="../static/img/logo.jpg"/>-->
            <p>深圳图南环保技术有限公司</p>
        </div>
        <div class="top_middle">
            <a href="/index">首页</a>
            <a href="/intro">公司简介</a>
            <a href="/business">项目公示</a>
<!--            <a href="/team">团队介绍</a>-->
            <a href="/contact">联系我们</a>
        </div>
        <div class="top_right">
            <img width="70px" height="70px" src="../static/img/tel.jpg"/>
            <p>020-26230989</p>
        </div>
    </div>
    <div class="banner_box" style="background-image: url(../static/img/2020042109461011.jpg)"></div>
    <div class="content">
        <div class="content_1">
            <p class="content_11">公司地址：深圳市龙岗区横岗街道保安社区简龙村水库路1号</p>
            <p class="content_11">电话：15622202701</p>
            <p class="content_11">传真：暂无</p>
            <p class="content_11">邮箱：493359327@qq.com</p>
            <div class="content_map"></div>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom_t">
            <a class="bottom_t_a" href="/index">首页</a>
            <a class="bottom_t_a" href="/intro">公司简介</a>
            <a class="bottom_t_a" href="/business">项目公示</a>
<!--            <a class="bottom_t_a" href="/team">团队介绍</a>-->
            <a class="bottom_t_a" href="/contact">联系我们</a>
            <a class="bottom_t_c"><img src="../static/img/phone.png"/><p>020-26230989</p></a>
        </div>
        <div class="bottom_b">
            ©版权所有 深圳图南环保技术有限公司
            <p>粤ICP备2022054595号</p>
            <p>44030502009034</p>
        </div>
    </div>
</div>
</body>

</html>